:host {
  flex: 1 1 auto;
}

.card {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  .info-container {
    display: flex;
    flex-direction: column;

    h1 {
      font-size: 6rem;
      font-weight: 600;
    }

    .percentage-analysis {
      display: flex;
      align-items: center;
      gap: 1rem;

      span {
        display: flex;
        align-items: center;
        gap: 0.25rem;
        font-size: 1.5rem;
        font-weight: 500;
        border: 1px solid rgb(44, 44, 44);
        border-radius: 1rem;
        padding: .3rem 1rem;
      }

      p {
        font-size: 1.5rem;
      }
    }


  }
}
