<article class="card outer-card">
    <h3 class="card-title">Gas emissions records</h3>
    <form class="filter-form">
        <div class="form-group">
            <label for="emission-type-filter">Type: </label>
            <select id="emission-type-filter" #emissionType (change)="RecordsService.selectEmissionType(emissionType.value)">
                @for (emissionType of RecordsService.selectableEmissionTypes; track $index) {
                    <option value="{{ emissionType.value }}">{{ emissionType.label }}</option>
                }
            </select>
        </div>

        <div class="form-group">
            <label for="country-filter">Country: </label>
            <select id="country-filter" #emissionCountry (change)="RecordsService.selectCountry(emissionCountry.value)">
                @for (country of RecordsService.selectableCountries; track $index) {
                <option value="{{ country.value }}">{{ country.label }}</option>
                }
            </select>
        </div>

        <div class="form-group">
            <label for="year-filter">Year: </label>
            <select id="year-filter" #year (change)="RecordsService.slectYear(year.value)">
                @for (year of RecordsService.selectableYears; track $index) {
                <option value="{{ typeof year !== 'number' ? year.value : year }}">{{ typeof year !== 'number' ? year.label : year }}</option>
                }
            </select>
        </div>

        <div class="form-group search">
            <label for="activity-search">Activity: </label>
            <input type="text" id="activity-search" #activitySearch (keyup)="RecordsService.filterByActivity(activitySearch.value)">
        </div>

    </form>
    <div class="emissions-list">
        <table>
            <thead>
                <tr>
                    <th>Year</th>
                    <th>Emission Type</th>
                    <th>Emissions</th>
                    <th>Country</th>
                    <th>Activity</th>
                </tr>
            </thead>
            <tbody>
                @for (record of records(); track record.id) {
                    <tr>
                        <td>{{ record.year }}</td>
                        <td>{{ record.emission_type }}</td>
                        <td>{{ record.emissions }}</td>
                        <td>{{ record.country}}</td>
                        <td>{{ record.activity }}</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</article>
