:host {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  flex-wrap: wrap;
  width: 100%;
}

.top-row {
  display: flex;
  gap: 3rem;
  flex-wrap: wrap;
  width: 100%;

  > * {
    min-width: 40rem;
  }
}
